.panel {
    margin: auto;
    width: 100vp;
    height: 4em;
    position: relative;
    margin: auto;
    margin-top: 2em;
    text-align: center;
}

.label {
    font-size:large;
    font-weight: bold;
}