.key {
    border-radius: 50%;
    border-color: rgb(75, 216, 47);
    font-size: 100%;
    width: 5em;
    height: 5em;
    display:block;
    background-color: rgb(79, 204, 146);
    box-shadow: 0 4px 1px 0 rgba(160, 157, 157, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col {
    height: 4em;
    margin: 0em;
    margin-bottom: 0.1rem;
    padding: 10px;
    flex-grow: 0;
    position:sticky;
}

.row {
    width: 20em;
    min-width: 20em;
    margin: auto;
    padding: 10px;
}

.keyboard {
    width: 100vp;
    padding:1rem;
}



span {
    display: block;
    font-size: 50%;
}